BETTER_AUTH_SECRET=aZ8H2VQvaJEnR3ejWf2Fj8mk3lY7Mt3o
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
DB_USER=wanderlustt
DB_PASS=0iWjo8yDwcrtSbioo
GOOGLE_CLIENT_ID=313337069939-b0g6gdsplsjre7cbjvth2hflks7oceqp.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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8